##### Chapter 1- First Python Programming

## 1.1 Hello World

In [1]:
print("Welcome to Data Science with John!!!")

Welcome to Data Science with John!!!

In [2]:
print(5)

5

In [3]:
print(" 5+5")

 5+5

In [4]:
print(5+5)

10

In [5]:
# we have to print multiple lines then have to take it within print statements

In [6]:
print("""Karan replied, "Joh'n Session is good and matching may expectations". """)

Karan replied, "Joh'n Session is good and matching may expectations".

In [7]:
print("""Karan replied, "Joh'n Session is good and matching may expectations". 
hi hello
Machine Learning is good""")

Karan replied, "Joh'n Session is good and matching may expectations".
hi hello
Machine Learning is good

# 1.2 Create Variables

In [8]:
'nivrut,dnyandev,sopan,muktai,eaknath,namdev,tukaram' # string =within parenthesis  mupltiple values hold

'nivrut,dnyandev,sopan,muktai,eaknath,namdev,tukaram'

In [9]:
['nivruti','dnyandev','sopan','muktai','eaknath','namdev','tukaram'] # List = multiple strings hold in brackets

['nivruti', 'dnyandev', 'sopan', 'muktai', 'eaknath', 'namdev', 'tukaram']

In [10]:
participants = ['nivruti','dnyandev','sopan','muktai','eaknath','namdev','tukaram']

In [11]:
participants

['nivruti', 'dnyandev', 'sopan', 'muktai', 'eaknath', 'namdev', 'tukaram']

In [12]:
len(participants)

7

In [13]:
participants[1:3]

['dnyandev', 'sopan']

In [14]:
participants[0]

'nivruti'

In [15]:
participants[-1]

'tukaram'

In [16]:
participants[-5:-1]

['sopan', 'muktai', 'eaknath', 'namdev']

In [17]:
participants[-7:-1]

['nivruti', 'dnyandev', 'sopan', 'muktai', 'eaknath', 'namdev']

In [18]:
participants[0:6]

['nivruti', 'dnyandev', 'sopan', 'muktai', 'eaknath', 'namdev']

In [19]:
participants[:1]

['nivruti']

In [20]:
participants[:5]

['nivruti', 'dnyandev', 'sopan', 'muktai', 'eaknath']

In [21]:
participants[:]

['nivruti', 'dnyandev', 'sopan', 'muktai', 'eaknath', 'namdev', 'tukaram']

In [22]:
participants[0]

'nivruti'

In [23]:
participants[6]

'tukaram'

# Chapter 2- String & String Methods

## 3 Data Types in Python 

1. Int    - Numbers without decimals.
2. Float   - Numbers with decimals.
3. String    - Anything enclosed withing quotes.

# 2.1 What is String ?

In [24]:
loki_average_score = '99.5%'

In [25]:
type(loki_average_score)

str

In [26]:
# anything is enclosed within single double and triple code is strings

In [27]:
loki_average_score_1 = 99.5

In [28]:
type(loki_average_score_1)

float

In [29]:
loki_average_score_2 = 99

In [30]:
type(loki_average_score_2)

int

# 2.2 Concatenation - Indexing -Slicing

In [31]:
fname = 'Harshal'
lname = 'Salaskar'
age = 32

In [32]:
marks = 89.98

In [33]:
fname + lname

'HarshalSalaskar'

In [34]:
fname + ' ' +lname

'Harshal Salaskar'

In [35]:
fname +' ' + lname + ' ' + str(age) # TypeCasting = changing the data tye to an another data type is typecastiong

'Harshal Salaskar 32'

In [36]:
print(fname +' ' + lname + ' ' + str(age)) # concatenation and typecasting

Harshal Salaskar 32

In [37]:
print(fname +' ' + lname + ' ' + str(marks))

Harshal Salaskar 89.98

In [38]:
print(fname +' ' + lname + ' ' + str(marks))

Harshal Salaskar 89.98

In [39]:
print(marks)
print(str(marks))
print(float(str(marks)))
print(int(float(str(marks))))

89.98
89.98
89.98
89

In [40]:
print(fname,lname,age)

Harshal Salaskar 32

In [41]:
print('First Name -',fname, 'Last Name-',lname ,'Age-',age)

First Name - Harshal Last Name- Salaskar Age- 32

In [42]:
# Escape sequences

In [43]:
print('First Name -',fname, '\nLast Name-',lname ,'\nAge-',age)

First Name - Harshal
Last Name- Salaskar
Age- 32

In [44]:
print('First Name -',fname, '\tLast Name-',lname ,'\tAge-',age)

First Name - Harshal 	Last Name- Salaskar 	Age- 32

In [45]:
score = '80.98'
score

'80.98'

In [46]:
float(score)

80.98

In [47]:
int(float(score))

80

In [48]:
lname

'Salaskar'

In [49]:
lname[-2]

'a'

In [50]:
lname[2:]

'laskar'

# 2.3 Manipulate String With String Funtions

In [51]:
learner_1 = 'pranjya'
learner_2 = 'nandyala'
learner_3 = '    pravin'
learner_4 = '   shreya   '

In [52]:
learner_1,learner_2,learner_3,learner_4

('pranjya', 'nandyala', '    pravin', '   shreya   ')

In [53]:
print(learner_1)
print(learner_2)
print(learner_3)
print(learner_4)

pranjya
nandyala
    pravin
   shreya

In [54]:
print(learner_1)

pranjya

In [55]:
type(learner_1)

str

In [56]:
len(learner_1)

7

# NOTE:-

### Why Function/Method?

**To perform an operation on top of my variable.**

**It need to be enclosed with () always.**

# NOTE:-

### Why Function/Method?

* **To perform an operation on top of my variable.**

* **It need to be enclosed with () always.**

In [57]:
# * ** double asterisk symbol means to give bulletin points

In [58]:
learner_1.upper()

'PRANJYA'

In [59]:
learner_1.lower()

'pranjya'

In [60]:
learner_2.capitalize()

'Nandyala'

In [61]:
learner_3.strip()

'pravin'

In [62]:
learner_4.lstrip()

'shreya   '

In [63]:
# we can use two string functions in one programme

In [64]:
variable = 'abc def ghi ijk lmn opq rst uvw xyz'

In [65]:
variable

'abc def ghi ijk lmn opq rst uvw xyz'

In [66]:
variable.replace(' ', '')

'abcdefghiijklmnopqrstuvwxyz'

In [67]:
1.15

1.15

In [68]:
learner_1 = learner_1.upper()
learner_2 = learner_2.capitalize()
learner_3 = learner_3.strip()
learner_4 = learner_4.strip()

In [69]:
print(learner_1)
print(learner_2)
print(learner_3)
print(learner_4)

PRANJYA
Nandyala
pravin
shreya

# Daily Task -1

### Explore all string functions and come up with 2 examples for each functions.

# 2.4 Interact with user inputs

In [70]:
input('Password:') # Login@123

Password:Login@123

'Login@123'

In [71]:
input('Password:') # 123456789

Password:123456789

'123456789'

In [ ]:
user_input = input('Password:')
print('First Letter Starts With', user_input[0])

# 2.5 Get 2 inputs from the users and display it.

In [ ]:
name_students = input('Umesh:')

print('Topper of 2024',name_students)

In [ ]:
Passout_year_students = input(2024)
print('Completed Education',Passout_year_students)

In [ ]:
college = input('IIT:')
print('First number college in india ',college)

In [ ]:
num1 = 99
num2 = 99

sum = num1 + num2 
print(sum)

In [ ]:
value_1 = input('Value:')
value_2 = input('Value:')
print('Values of both input is -',value_1,value_2)

In [ ]:
name = input('Name:')
age = input('Age:')
print('Name - {}  \n Age - {}'.format(name,age)) #  {} curly braces is placeholders 
# print formating there are more ways for print formating

# Python string functions

Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Converts the elements of an iterable into a string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning